{% extends 'dashboard/base.html' %}


{% block head_title %}BookMe - {{ block.super }}{% endblock head_title %}


{% block content %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Booking ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Court
                </th>
                <th scope="col" class="px-6 py-3">
                    Time
                </th>
            </tr>
        </thead>
        {% for appointments in appointments_list %}
            {% include 'appointments/snippets/table_items.html' with object=appointments %}
        {% endfor %}
    </table>
</div>

{% endblock content %}